html, body { margin: 0; padding: 0; color: #111111; font-family: Arial, ui-sans-serif, sans-serif; font-size: 1em; background-color: #f0f0f0; }

@media (prefers-color-scheme: dark) { html, body { background: #333333; color: #eeeeee; } }

* { box-sizing: border-box; }

p, pre, code, h2, h3, h4 { margin: 0 0 0.5rem 0; min-height: 1rem; }

p > img, p > svg, pre > img, pre > svg, code > img, code > svg, h2 > img, h2 > svg, h3 > img, h3 > svg, h4 > img, h4 > svg { height: 1em; }

p > img:first-child, p > svg:first-child, pre > img:first-child, pre > svg:first-child, code > img:first-child, code > svg:first-child, h2 > img:first-child, h2 > svg:first-child, h3 > img:first-child, h3 > svg:first-child, h4 > img:first-child, h4 > svg:first-child { margin-right: 0.2em; }

a { color: inherit; text-decoration: none; cursor: pointer; }

p > a, p > a:visited { text-decoration: underline; }

h2, h3, h4 { font-family: Arial, ui-sans-serif, sans-serif; font-weight: bold; color: #0f388a; }

@media (prefers-color-scheme: dark) { h2, h3, h4 { color: #eeeeee; } }

h2 { font-size: 1.6em; min-height: 1.6em; }

h3 { font-size: 1.25em; min-height: 1.25em; }

h4 { font-size: 1em; min-height: 1em; }

code, .code, code.hljs, pre code { background-color: #ffffb9; color: #111111; font-size: 16px; font-family: "Courier New", Courier, monospace; }

@media print { code, .code, code.hljs, pre code { border: 1px solid #111111; } }

pre code { display: block; border-radius: 0.4rem; padding: 2px; }

div[u-control="modal"] { position: fixed; visibility: visible; opacity: 1; top: 0; left: 0; width: 100%; height: 100%; transition: opacity 0.3s ease-in-out; }

div[u-control="modal"].hidden { visibility: hidden; opacity: 0; }

div[u-control="modal"] .modalBack { position: absolute; width: 100%; height: 100%; background-color: #f0f0f0; opacity: 0.75; }

div[u-control="modal"] .modalFrame { position: absolute; top: 50%; left: 50%; min-width: 100px; min-height: 100px; transform: translateX(-50%) translateY(-50%); padding: 0.5em; background-color: white; }

div[u-control="modal"] .modalFrame::before, div[u-control="modal"] .modalFrame::after { content: ""; position: absolute; background-color: red; z-index: -1; width: 40px; height: 40px; }

div[u-control="modal"] .modalFrame::before { top: 0; right: 0; }

div[u-control="modal"] .modalFrame::after { bottom: 0; left: 0; }

div[u-control="modal"] .closedlg { position: absolute; top: 0.4rem; right: 0.4rem; height: 1.8rem; width: 1.8rem; font-size: 1.6rem; background-color: red; text-align: center; z-index: 3 !important; -ms-user-select: none; user-select: none; cursor: pointer; }

.modal-object { position: fixed !important; z-index: 2 !important; margin: 0 !important; }

.container { margin-right: 2rem; margin-left: 2rem; }

@media (max-width: 720px) { .container { margin-right: 0.6rem; margin-left: 0.6rem; } }

.container-fluid { margin-right: 0; margin-left: 0; padding: 1rem; }

@media (max-width: 720px) { .container-fluid { padding: 0; } }

.row { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: flex-start; margin: 0 0.1rem -0.5rem; clear: both; padding: 0 0 0.5rem 0; }

.row.wrap { flex-wrap: wrap; }

@media (max-width: 720px) { .row { margin: 0; } }

.row.nogutter { margin: 0; padding: 0; }

.row.nogutter > .col { margin: 0; padding: 0; }

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6 { flex: 0 0 auto; margin: 0.5rem 0 0 0.5rem; }

@media (max-width: 720px) { .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6 { margin-left: 1px; } }

.col.stretch { flex-grow: 1; }

.col-1 { flex-basis: 16.66666667%; }

.col-2 { flex-basis: 33.33333333%; }

.col-3 { flex-basis: 50%; }

.col-4 { flex-basis: 66.66666667%; }

.col-5 { flex-basis: 83.33333334%; }

.col-6 { flex-basis: 100%; }

svg.button { width: 2em; height: 2em; }

svg.button .object { fill: #0f388a; fill-opacity: 1; }

svg.button .connect { fill: #00cc00; fill-opacity: 1; }

svg.icon { -ms-user-select: none; user-select: none; }

.u-header { margin-bottom: 0; }

.u-header img { margin-right: 0.5rem; }

.u-header .icon { width: 3rem; height: 3rem; }

.u-header h1 { margin: 0; font-size: 2.4rem; font-family: Arial, ui-sans-serif, sans-serif; font-weight: bold; }

.u-navbar { margin-bottom: 0; padding: 0.5rem 1rem; height: 2.8rem; background-color: #0f388a; }

.u-navbar > .gap { flex-grow: 2; }

.u-navbar > button, .u-navbar > .button { text-decoration: none; min-width: 2em; color: white !important; }

.u-navbar > button:hover, .u-navbar > .button:hover { border-color: #4466ee; background-color: #4466ee; }

.u-navbar > img.button, .u-navbar > svg.button { padding: 0; min-width: 1.4em !important; width: 1.4em !important; height: 1.4em !important; }

@media print { .u-navbar { display: none; } }

nav { position: fixed; min-height: 100%; width: 280px; z-index: 1; left: -280px; transition: all 0.2s; padding: 1rem 0.2rem 0.2rem; background-color: white; }

@media (prefers-color-scheme: dark) { nav { background: #4d4d4d; color: #eeeeee; } }

nav.inpage { position: absolute; }

nav.open { left: 0; }

nav.inpage.open + main { margin-left: 280px; }

@media print { nav.inpage.open + main { margin-left: 0; } }

@media print { nav { display: none; } }

main { transition: margin-left 0.2s; }

.card { position: relative; display: flex; flex-direction: column; background-color: #d9d9d9; color: #111111; border: none; border-radius: 0.4rem; width: 23rem; min-width: 23rem; }

@media print { .card { border: 1px solid #111111; } }

.card h3, .card h4 { color: #0f388a; }

.card.small { font-size: 0.8em; width: 11.25rem; min-width: 11.25rem; }

.card.active { background-color: #306ee8; color: white; }

.card.active h3, .card.active h4 { color: white; }

.card.active svg.icon { color: currentColor; }

.card.active .border { border-color: #003399; }

.card.active .band::-webkit-slider-thumb { border-color: #003399 transparent; }

.card.active > .block.header { background-image: linear-gradient(to bottom, #306ee8, #1754cf); }

.card .icon { width: 2.75em; height: 2.75em; float: left; margin-right: 0.5rem; overflow: hidden; color: #0f388a; }

.card img.active, .card svg.active { background-color: limegreen; }

.card > .block { position: relative; flex: 1 1 auto; padding: 0.5rem 1rem; min-height: 2em; }

.card > .block.header { background-image: linear-gradient(to bottom, #d9d9d9, #bfbfbf); border-top-right-radius: 0.4rem; border-top-left-radius: 0.4rem; min-height: 2.75em; }

.card > .block.header h3, .card > .block.header h4 { margin-bottom: 0; }

.card > .block.footer { padding: 0.5rem 1rem; border-top: 1px solid rgba(0, 0, 0, 0.125); }

.card > .block.footer > *:not(:first-child) { margin-left: 0.5rem; }

.card > hr { background-color: rgba(0, 0, 0, 0.125); border: 0; height: 1px; margin: 0; padding: 0; }

select, option { padding: 0; }

option[disabled] { color: gray; }

button, .button { display: inline-block; font-size: 1.25em; min-width: 3.6em; height: 1.4em; padding: 0.1em 0.2em; border-radius: 0.2em; border: 0.1em solid #0f388a; background-color: #0f388a; color: white; cursor: pointer; -ms-user-select: none; user-select: none; }

button:visited, .button:visited { color: white; }

button:disabled, button:disabled:focus, .button:disabled, .button:disabled:focus { border: 0.1rem solid gray; background-color: gray; }

button.active, .button.active { background-color: #acc1e4 !important; border-color: #203050 !important; }

button.secondary, .button.secondary { background-color: #777777; border-color: #777777; }

button + button, button + .button, .button + button, .button + .button { margin-left: 0.5rem; }

*:focus { outline: 0; border-color: #4466ee; box-shadow: 0 0 0.1rem 0.2rem #4466ee; }

.btn-group { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: flex-start; }

.btn-group > * { flex: 1 1 auto; margin: 0; border-radius: 0; }

.btn-group > *:first-child { border-top-left-radius: 0.2em; border-bottom-left-radius: 0.2em; }

.btn-group > *:last-child { border-top-right-radius: 0.2em; border-bottom-right-radius: 0.2em; }

.btn-group > label { display: inline-block; font-size: 1.25em; height: 1.4em; padding: 0 0.4em; }

.form-group { display: flex; }

.form-group > label { display: inline-block; margin-right: 0.5rem; border: 1px solid transparent; text-align: right; width: 8em; }

.form-group > input, .form-group > span, .form-group > select { display: inline-block; width: 12em; font-size: 1em; }

.form-group > input, .form-group > select { border: 1px solid #555555; }

.form-group > input { padding: 0 0.1em; }

.form-group > span { border: 1px solid transparent; }

.form-group:not(:last-child) { margin-bottom: 0.5rem; }

.invalid { border: 2px solid #ff1111 !important; background-color: #ffcccc !important; }

.valid { border: 2px solid #00cc00 !important; background-color: #ccffcc !important; }

.element { position: relative; display: inline-block; height: 6rem; width: 6rem; margin: 0.6rem; }

.element.wide { width: 10rem; }

.element > svg, .element > img { position: relative; left: 1rem; top: 0.4rem; height: 4rem; width: 4rem; }

.element > .id { position: absolute; display: inline-block; bottom: 0.4rem; left: 0; height: 1rem; width: 6rem; text-align: center; }

.element > .info { position: absolute; display: inline-block; top: 0.4rem; right: 0; height: 5.2rem; width: 4rem; }

.u-bool { display: inline-block; height: 1.4rem; width: 1.4rem; border-radius: 0.7rem; text-align: center; background-color: silver; }

.u-bool[value="1"] { background-image: linear-gradient(145deg, #4dff4d, #00b300); }

.u-bool[value="0"] { background-image: linear-gradient(145deg, #ff9999, red); }

.ux-levelbar { display: inline-block; border-color: #0f388a; border-style: solid; border-width: 1px; width: 32px; height: 64px; }

.ux-value { position: absolute; right: 0.5rem; top: 0.5rem; }

.u-bar { position: relative; height: 1.4em; width: 100%; background-color: #aaaaaa; }

.u-bar > .pulse, .u-bar > .current { display: inline-block; position: absolute; }

.u-bar > .pulse { top: 0; left: 0; height: 1.4em; background-color: green; }

.u-bar > .current { top: 0.4em; height: 0.6em; background-color: red; }

/* === SWITCH === */
.u-slider { display: inline-block; width: 100%; }

.u-slider > label { display: inline-block; padding: 0 0.2em; margin-bottom: 0.5rem; vertical-align: top; font-size: 1.4rem; cursor: pointer; }

.u-slider > label > img, .u-slider > label > .icon { width: 1.2em !important; height: 1.2em !important; margin: 0; }

.u-slider > .box { position: relative; cursor: pointer; display: inline-block; width: 3rem; height: 1.7rem; border: 0.125rem solid #555555; border-radius: 1.25rem; background-color: #f0f0f0; padding: 0.125rem; }

.u-slider > .box > .handle { position: relative; display: inline-block; left: 0; height: 1.2rem; width: 1.2rem; border-radius: 1.2rem; background-color: #203050; }

.u-slider.u-switch > .box > .handle { transition: left 0.2s cubic-bezier(0.25, 0.1, 0.25, 1); }

.u-slider.u-switch.active > .box > .handle { left: 1.3rem; }

.text-right { text-align: right; }

.border { border: 1px solid #555555; }

/* === Display Element === */
.display { position: relative; box-sizing: content-box; background-color: #f0f0f0; margin: auto; width: 128px; height: 64px; border: 2px solid #555555; zoom: 2; }

.display > span { box-sizing: border-box; display: inline-block; position: absolute; top: 0; left: 0; height: 10px; overflow: hidden; background-color: transparent; }

.display > span.text { color: #111111; font-size: 10px; line-height: 10px; }

.display > span.dot { height: 10px; width: 10px; border-radius: 50%; }

.display > span.dot.active { background-color: green; }

.display > span.line { border-top: 1px solid black; }

.displayinc { position: relative; margin: auto; zoom: 2; }

.displayinc > .icon { width: 1.2em; height: 1.2em; margin: 0; }

/* === Light input sliders === */
.band { -webkit-appearance: none; appearance: none; outline: none; height: 1.4rem; width: 100%; margin-bottom: 0.8rem; }

.band::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; width: 0; height: 0; border-color: #555555 transparent; border-width: 1.2em 0.5em; border-style: solid; margin-top: -0.1rem; }

.band.hue { background: linear-gradient(to right, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%); }

.band.white, .band.lightness, .band.saturation { background: linear-gradient(to right, black 0%, white 100%); }

/* === Responsive Utilities === */
.display-xs { display: none; }

@media (max-width: 767px) { .hidden-xs { display: none; }
  .display-xs { display: initial; } }
