/* Colors */
/* main */
html, body { padding: 0; margin: 0; font-family: Arial; font-size: 1em; color: #111111; }

* { box-sizing: border-box; }

/* === Text containers === */
p, h1, h2, h3, h4 { margin: 0 0 0.5em 0; }

p > img, h1 > img, h2 > img, h3 > img, h4 > img { height: 1em; }

p > img:first-child, h1 > img:first-child, h2 > img:first-child, h3 > img:first-child, h4 > img:first-child { margin-right: 0.2em; }

a { text-decoration: none; cursor: pointer; }

a:visited { color: #304878; }

p > a { text-decoration: underline; }

a:hover, a:focus { color: #4466ee; }

h1, h2, h3, h4 { font-family: Arial; color: #304878; }

h2 { font-size: 1.6rem; }

h3 { font-size: 1em; font-weight: bold; }

h4 { font-size: 0.8em; }

/* === Grid Design with grid of 6 === */
.container { margin-right: 2rem; margin-left: 2rem; }

@media (max-width: 720px) { .container { margin-right: 0.6rem; margin-left: 0.6rem; } }

.container-fluid { margin-right: 0; margin-left: 0; }

/* row with 0.5rem gutter */
.row { display: flex; flex-direction: row; flex-wrap: nowrap; margin: -0.5rem 0.1rem 0.5rem -0.5rem; clear: both; padding: 0px; }

.row.wrap { flex-wrap: wrap; }

.row.nogutter { margin: 0; }

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6 { flex: 0 0 auto; margin: 0.5rem 0 0 0.5rem; }

.row.nogutter > .col { margin: 0; }

.col.stretch { flex-grow: 1; }

.col-1 { flex-basis: 16.66666667%; }

.col-2 { flex-basis: 33.33333333%; }

.col-3 { flex-basis: 50%; }

.col-4 { flex-basis: 66.66666667%; }

.col-5 { flex-basis: 83.33333334%; }

.col-6 { flex-basis: 100%; }

svg.button { width: 2em; height: 2em; }

svg.button .object { fill: #304878; fill-opacity: 1; }

svg.button .connect { fill: #00cc00; fill-opacity: 1; }

/* === Header === */
.u-header { display: flex; height: 3.5rem; margin: 0.2em 0 0 0; flex-direction: row; flex-wrap: nowrap; align-items: flex-start; }

.u-header > a, .u-header > h1 { font-size: 2rem; align-self: center; margin-top: 0; margin-bottom: 0; padding: 0; }

.u-header > * + * { margin-left: 0.4rem; }

.u-header .icon { width: 3rem; height: 3rem; background-color: #d4dced; border-radius: 0.2em; }

/* === Cards === */
.card { position: relative; display: flex; flex-direction: column; background-color: #d4dced; border: 1px solid #304878; border-radius: .25rem; width: 400px; min-width: 400px; }

.card img.active { background-color: limegreen; }

.card > .block { flex: 1 1 auto; padding: 0.6em; }

.card > .block.header { background-image: linear-gradient(to bottom, #d4dced, #b0bfde); }

.card > .block.header > h2, .card > .block.header > h4 { margin: 0; }

.card > .block.action { background-color: limegreen; padding-top: 0; padding-bottom: 0; }

.card > hr { background-color: rgba(0, 0, 0, 0.125); border: 0; height: 1px; padding: 0; margin: 0; }

a + a, a + button, a + label, label + a, label + button, label + label, button + a, button + button, button + label { margin-left: 1.25rem; }

label.fixed { display: inline-block; text-align: right; width: 8em; margin-right: 0.5em; }

button { font-size: 1.6em; border: 0.1rem solid #304878; background-color: #304878; color: white; border-radius: 0.2em; padding: 0 0.4em; min-width: 4em; cursor: pointer; user-select: none; -ms-user-select: none; }

button:focus { border: 0.1rem solid #4466ee; background-color: #4466ee; }

button:disabled { border: 0.1rem solid #808080; background-color: #808080; }

button.active { background-color: #acc1e4 !important; border-color: #203050 !important; }

/* === element Icons === */
.element { position: relative; display: inline-block; height: 6rem; width: 6rem; margin: 0.6rem; }

.element.wide { width: 10rem; }

.element > img { position: relative; left: 1rem; top: 0.4rem; height: 4rem; width: 4rem; }

.element > .u-indicator { position: absolute; top: 0; left: 4.4rem; height: 1.4rem; width: 1.4rem; border-radius: 0.7rem; }

.element > .id { position: absolute; display: inline-block; bottom: 0.4rem; left: 0; height: 1rem; width: 6rem; text-align: center; }

.element > .info { position: absolute; display: inline-block; top: 0.4rem; right: 0; height: 5.2rem; width: 4rem; }

/* === Indicators === */
.u-indicator { display: inline-block; height: 2rem; width: 2rem; border-radius: 1rem; text-align: center; background-color: silver; }

.u-indicator[value="1"] { background-image: linear-gradient(145deg, #1aff1a, green); }

.u-indicator[value="0"] { background-image: linear-gradient(145deg, #ff9999, red); }

/* === SWITCH === */
.u-switch { display: inline-block; width: 100%; }

.u-switch > label { display: inline-block; padding: .4rem 1rem; margin-bottom: 0.5rem; vertical-align: top; font-size: 1.4rem; cursor: pointer; }

.u-switch > .box { position: relative; cursor: pointer; display: inline-block; width: 3rem; height: 1.6rem; border: 0.1rem solid #C0C0C0; border-radius: 1.3rem; background-color: #eeeeee; }

.u-switch > .box > .handle { position: absolute; display: inline-block; top: 0.1rem; left: 0.1rem; height: 1.2rem; width: 1.2rem; border-radius: 1.2rem; background-color: #203050; transition: left 0.2s cubic-bezier(0.25, 0.1, 0.25, 1); }

.u-switch.active > .box > .handle { left: 1.5rem; }

/* === Responsive Utilities === */
@media (max-width: 767px) { .hidden-xs { display: none; } }
